* { 
    box-sizing:border-box;
  }
h1{
         font-size: 25px; 
    }
p{
        font-size: 20px;
    }
#h21{
    font-size: 20px;
    background-color: slateblue;
    color: seashell;
    margin-left: 32%;
    margin-right: 32%;
    border-radius: 10px;   
}
iframe{
    
    width: 100%;
    height: 200px;
    border: 1px solid black;
    border-radius: 10px;
}
#p01{
    display: inline;
}
h3{
    background-color: steelblue;
    color: snow;
}
caption{
    background-color: silver;
    color: white;
}
table{
    width: 100%;
}
#th1{
    color: white;
    background-color: black;
    /* border-collapse: collapse; */
    border-radius: 40px;
    padding: 12px 30px;
}
th, td{
    border: 1px solid black;
    /* border-collapse: collapse; */
}
form
    {
        text-align: center;
    }    
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
input[type=text],
input[type=number],
select 
{
    width: 80%;
    padding: 12px 30px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 40px;
    box-sizing: border-box;
}
input[type=submit]
{
    width:35%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin-top: 20px;
    margin: 8px 0;
    border: none;
    border-radius: 40px;
    cursor: pointer;
}
#contact {
    width: 350px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 40px;
}
div {
    margin-left: 500px;
    margin-right: 500px;
    margin-bottom: 80px;
    border-radius: 5px;
    background-color: #ADD8E6;
    padding: 20px;
}
li{
    margin-bottom:5px;
    color: maroon;
}
@media only screen and (max-width:620px) {
    /* For mobile phones: */
    body
    {
      width:100%;
    }
}