a{
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
}
.thin_border{
    border: 1px solid black;
}
a:hover{
    color: white;
    background-color: black;
}
.bluelink:hover{
    background-color: steelblue;
}
.whitelink:hover{
    color: dodgerblue;
    background-color: white;
}
.greenlink:hover    {
    background-color: green;
}
.paraspc{
    margin-left: 20px;
}
* { 
    box-sizing:border-box;
  }
h1{
         font-size: 25px; 
    }
p{
        font-size: 20px;
    }
#h21{
    font-size: 20px;
    background-color: slateblue;
    color: seashell;
    margin-left: 32%;
    margin-right: 32%;
    border-radius: 10px;   
}
iframe{
    
    width: 100%;
    height: 200px;
    border: 1px solid black;
    border-radius: 10px;
}
.cen {
    /* display: inline; */
    /* text-align: center; */
    text-align: center; 
}
/* .woi {
    position: absolute;
    width: 50%;
    text-align: center;
    float: left; 
    margin-left: 15%;
    margin-top: -1.5%;
    max-width: 50%;
} */
/* .vl {
    display: inline-block;
    text-align: center;
    border-left: 3px solid black;
    margin-left: 50%;
    margin-bottom: -1%;
    height: 200px;
} */
h3{
    background-color: steelblue;
    color: snow;
    font-family: Georgia, 'Times New Roman', Times, serif
}
caption{
    background-color: silver;
    color: white;
}
table{
    width: 100%;
}
#th1{
    color: white;
    background-color: black;
    /* border-collapse: collapse; */
    border-radius: 40px;
    padding: 12px 30px;
}
th, td{
    border: 1px solid black;
    /* border-collapse: collapse; */
}
h5{
    font-size: 120%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}
#map{
    width: 400px;
    height: 400px;
    background: blue;
    box-sizing: border-box;
    display: block;
}
form
    {
        text-align: center;
    }    
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
input[type=text],
input[type=number],
input[type=email],
select 
{
    width: 80%;
    padding: 12px 30px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 40px;
    box-sizing: border-box;
}
input[type=submit]
{
    width:35%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin-top: 20px;
    margin: 8px 0;
    border: none;
    border-radius: 40px;
    cursor: pointer;
}
.contact {
    width: 350px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 40px;
    background-color: black;
}
/* div {
    margin-left: 500px;
    margin-right: 500px;
    margin-bottom: 80px;
    border-radius: 5px;
    background-color: #ADD8E6;
    padding: 20px;
} */
li, ul a{
    text-decoration: none;
    margin-bottom:5px;
    color: maroon;
}
@media only screen and (max-width:620px) {
    /* For mobile phones: */
    body
    {
      width:100%;
    }
}
@media (min-width:750px){
    .responsive1{
        display: inline-block;
        width: 50%;
        text-align: center;
        border-right: 2px solid black;
    }
}

@media (min-width:750px){
    .responsive2{
        display: inline-block;
        width: 49%;
        text-align: center;
    }
}